.notification{
    height: 60px;
    width: 100%;
    background-color: #6FD15640;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.nav-header{
    gap: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex !important;
    align-items: center;
}

.nav-item{
    color: black !important;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 36px 0;
}

.btn-login{
    background: rgba(0, 133, 255, 0.1);
    color: #0085FF;
    padding: 12px 24px;
    border: 0;
}